---
import Nav from '../components/nav.astro';
import Cards from '../components/cards.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex flex-col w-screen h-screen bg-gradient-to-b from-blue-200 to-blue-400">
      <Nav />
      <Cards />
    </div>
  </body>
</html>