@import "tailwindcss";

@layer components {
    .home-tile {
        display: flex;
        flex-direction: column;
        height: 200px;
        border-width: 2px;
        border-color: #1d4ed8;
        border-style: solid;
    }
}