@import "tailwindcss";

@layer components {
    .home-tile {
        display: flex;
        flex-direction: column;
        height: 200px;
        border-width: 2px;
        border-color: #1d4ed8;
        border-style: solid;
    }
}

:root {
    /* Light Theme */
    --primary-color: #007bff;
    --secondary-color: #a9d2fd;
    --background-color: #007bff;
    --text-color: #212529;
    background: linear-gradient(to bottom, #bfdbfe, #60a5fa);
}