<div id="botCheck" class="w-screen h-screen content-center justify-items-center">
    <div class="bg-gray-200 w-full max-w-[400px] h-full max-h-[250px] justify-center rounded border-3 border-gray-400 shadow-xl">
    <p class="p-2 text-2xl">Prove you are not a bot</p>
    <div class="flex w-full h-[60%] justify-center items-center">
        <ul class="space-y-2">
        <li>
            <label class="text-xl">
            <input type="checkbox" />
            I am a bot
            </label>
        </li>
        <li>
            <label class="text-xl">
            <input type="checkbox" />
            I believe I'm not a bot
            </label>
        </li>
        <li>
            <label class="text-xl">
            <input type="checkbox" />
            Click here to prove you are a bot
            </label>
        </li>
        </ul>
    </div>
    <div class="flex justify-end pr-2 pt-4 text-blue-400">
        Why am I seeing this?
    </div>
    </div>
</div>