---
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
	<div class="flex flex-col h-screen root">
    <Nav />
    <div class="h-full w-full items-center">
      <div class="flex flex-wrap items-center h-[400px] justify-center">
        <div class="bg-gray-600 rounded-full m-5">
          <img class="h-[200px] w-[200px] p-2 rounded-full" src="/GithubProfile.png" alt="Github Profile Image">
        </div>
        <ul id="summary_list" class="list-disc pl-5 text-lg m-5">
          <li id="dev" class="opacity-0 translate-x-10 transition-all delay-100 duration-1000">Software Developer</li>
          <li id="one" class="opacity-0 translate-x-10 transition-all delay-300 duration-1000">Fullstack Experience</li>
          <li id="two" class="opacity-0 translate-x-10 transition-all delay-200 duration-1000">Flutter/Dart</li>
          <li id="three" class="opacity-0 translate-x-10 transition-all delay-400 duration-1000">PostgreSQL</li>
        </ul>
      </div>
      <div id="scroll_text" class="flex w-full justify-center opacity-0 translate-y-10 transition-all duration-1000" data-animate>Text</div>
    </div>
    <Footer />
  </div>
  </body>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      const devContent = document.getElementById("dev");
      devContent?.classList.remove('opacity-0', 'translate-x-10');
      devContent?.classList.add('opacity-100', 'translate-x-0');

      const firstContent = document.getElementById("one");
      firstContent?.classList.remove('opacity-0', 'translate-x-10');
      firstContent?.classList.add('opacity-100', 'translate-x-0');

      const secondContent = document.getElementById("two");
      secondContent?.classList.remove('opacity-0', 'translate-x-10');
      secondContent?.classList.add('opacity-100', 'translate-x-0');

      const thirdContent = document.getElementById("three");
      thirdContent?.classList.remove('opacity-0', 'translate-x-10');
      thirdContent?.classList.add('opacity-100', 'translate-x-0');

    });

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(e => {
        if (e.isIntersecting) {
          e.target.classList.remove('opacity-0', 'translate-y-10')
          e.target.classList.add("opacity-100", 'translate-y-0');
        }
      });
    }, { threshold: 0.2 });

    document.querySelectorAll('[data-animate]').forEach(el => observer.observe(el));
  </script>
</html>