---
import Github from "../assets/github.astro";
import LinkedIn from "../assets/linkedIn.astro";
---


<div class="flex flex-row items-evenly justify-center w-full bg-blue-800 text-white p-3
    dark:bg-stone-800">
    <div class="flex flex-row justify-evenly h-full w-full">
        <p>arkula931@gmail.com</p>
        <div class="flex flex-row space-x-4">
            <Github />
            <LinkedIn />
        </div>
    </div>
</div>