---
import Github from "../assets/github.astro";
import LinkedIn from "../assets/linkedIn.astro";
---


<div class="flex flex-row items-evenly justify-center w-full bg-blue-500 text-white p-3
    dark:bg-slate-950">
    <div class="flex flex-row justify-evenly h-full w-full">
        <div class="flex flex-col space-y-2">
            <a class="hover:text-gray-300" href="mailto:arkula931@gmail.com?subject=Hello">arkula931@gmail.com</a>
            <a class="hover:text-gray-300" href="mailto:akula5@huskers.unl.edu?subject=Hello">akula5@huskers.unl.edu</a>
        </div>
        <div class="flex flex-row space-x-4 items-center">
            <Github />
            <LinkedIn />
        </div>
    </div>
</div>