---
import "../styles/global.css";
import Github from "../assets/github.astro";
import LinkedIn from "../assets/linkedIn.astro";
---

<div class="desktop">
    <nav class="flex flex-row justify-between items-center p-3 pr-12 bg-gradient-to-t from-blue-300 to-blue-700 
    dark:from-slate-900 dark:to-stone-950 dark:text-gray-300">
        <a href="/" class="text-2xl font-semibold hover:text-gray-700 dark:hover:text-gray-400">Andrew Kula</a>
        <div id="links" class="flex flex-row space-x-4">
            <a href="/about" class="hover:text-gray-700 dark:hover:text-gray-400">About</a>
            <a href="/projects"class="hover:text-gray-700 dark:hover:text-gray-400">Projects</a>
            <Github />
            <LinkedIn />
        </div>
    </nav>
</div>

<div class="mobile">
    <nav class="flex flex-row justify-between items-center p-3 pr-12 bg-gradient-to-t from-blue-300 to-blue-700 
    dark:from-slate-900 dark:to-stone-950 dark:text-gray-300">
        <a href="/" class="text-2xl font-semibold hover:text-gray-700 dark:hover:text-gray-400">Andrew Kula</a>
        <div id="links" class="flex flex-row space-x-2">
            <a href="/about" class="hover:text-gray-700 dark:hover:text-gray-400">About</a>
            <a href="/projects"class="hover:text-gray-700 dark:hover:text-gray-400">Projects</a>
        </div>
    </nav>
</div>

<style>
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }

    @media (max-width: 500px) {
        .mobile {
        display: block;
        }
        .desktop {
        display: none;
        }
    }
</style>