<!-- src/components/GitHubIcon.astro -->
<a href="https://github.com/andrew-kula931" target="_blank" rel="noopener">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
       viewBox="0 0 24 24" class="text-black hover:text-gray-700">
    <path d="M12 .5C5.37.5 0 5.87 0 12.54c0 5.3 3.438 9.8 8.205 11.385.6.112.82-.26.82-.577v-2.23c-3.338.737-4.033-1.61-4.033-1.61-.546-1.4-1.333-1.77-1.333-1.77-1.09-.76.083-.745.083-.745 1.204.085 1.837 1.254 1.837 1.254 1.07 1.833 2.807 1.304 3.492.997.107-.798.42-1.305.763-1.604-2.666-.305-5.466-1.364-5.466-6.07 0-1.342.468-2.438 1.236-3.297-.123-.307-.535-1.54.117-3.212 0 0 1.008-.33 3.3 1.26a11.58 11.58 0 0 1 3.006-.41c1.02.005 2.05.14 3.006.41 2.29-1.59 3.295-1.26 3.295-1.26.655 1.673.243 2.905.12 3.212.77.86 1.233 1.955 1.233 3.297 0 4.717-2.805 5.762-5.48 6.058.43.38.815 1.13.815 2.28v3.383c0 .32.218.694.825.577C20.565 22.34 24 17.84 24 12.54 24 5.87 18.63.5 12 .5z"/>
  </svg>
</a>
