<!-- src/components/LinkedInIcon.astro -->
<a href="https://www.linkedin.com/in/andrew-kula931" target="_blank" rel="noopener noreferrer">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
       viewBox="0 0 24 24" class="text-blue-800 hover:text-blue-700">
    <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.761 0 5-2.24 5-5v-14c0-2.76-2.239-5-5-5zm-11.75 19h-3v-10h3v10zm-1.5-11.279c-.966 0-1.75-.783-1.75-1.75s.784-1.75 1.75-1.75c.967 0 1.75.783 1.75 1.75s-.783 1.75-1.75 1.75zm13.25 11.279h-3v-5.604c0-1.337-.025-3.058-1.865-3.058-1.867 0-2.153 1.459-2.153 2.968v5.694h-3v-10h2.884v1.367h.041c.401-.762 1.38-1.566 2.841-1.566 3.04 0 3.6 2.001 3.6 4.602v5.597z"/>
  </svg>
</a>
